<div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../images/carousel1.jpg" alt="First Slide">
                    <div class="carousel-caption">
                        <h3>island beach</h3>
                        <p>beach and palm tree.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/carousel2.jpg" alt="Second Slide">
                    <div class="carousel-caption">
                        <h3>Sunshine</h3>
                        <p>Sun and palm tree</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/carousel3.jpg" alt="Third Slide">
                    <div class="carousel-caption">
                        <h3>Island Drinks</h3>
                        <p>fruity island drinks with beach in background.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/carousel4.jpg" alt="Fourth Slide">
                    <div class="carousel-caption">
                        <h3>Waves and sunset</h3>
                        <p>Red sunset with ocean waves.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/carousel5.jpg" alt="Fifth Slide">
                    <div class="carousel-caption">
                        <h3>Fish</h3>
                        <p>Fish swimming in ocea</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/carousel6.jpg" alt="SixthSlide">
                    <div class="carousel-caption">
                        <h3>Island</h3>
                        <p>Island with rocks and clear water</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/carousel7.jpg" alt="Seventh Slide">
                    <div class="carousel-caption">
                        <h3>island view</h3>
                        <p>Island with palm tree</p>
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>