<div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../images/carousel4.jpg" alt="Zootopia">
                    <div class="carousel-caption">
                        <h3>time to heat it up!</h3>

                    </div>
                </div>
                <div class="item">
                    <img src="../images/carousel1.jpg">
                    <div class="carousel-caption">
                        <h3>Check out our lovely resorts for any time of the year!</h3>
                        <p>Hot deals that change everyday, what could you not want?</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/carousel2.jpg" alt="Up">
                    <div class="carousel-caption">
                        <h3>Craving the sun?</h3>
                        <p>We can book vacations with less than 2 weeks in advance!</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../images/carousel3.jpg" alt="Toy Story">
                    <div class="carousel-caption">
                        <h3>Need a drink?</h3>
                        <p>Check out our all inclusive resorts!</p>
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
    <!-- Welcome Msgs -->
        <div class="float-l">
          <h2>Welcome</h2>
        <p>Welcome to our website full of hot least minute vacation deals, full of reviews just so you know what you are getting yourself into.</p>
    </div>
         <div class="hot"><h2>Hot Deals</h2>
        <p>A family of 4 can now go on one of these vacations for the price of 2!</p>
        </div>    

        </div>