<div id="wrapper">
<input id="search" type="text" value="Type here">
<br>
<br>
<textarea id="textBox" rows="10" cols="50">Write us a message so we can make our website better.</textarea>
<br>
<br>
<p>Choose the row and then check of what number the book is in the row.</p>
<select id="myChoice">
  <option value="value1">Row 1</option>
  <br>
  <br>
  <option value="value2" selected>Row 2</option>
  <br>
  <br>
  <option value="value3">Row 3</option>
  <br>
  <br>
</select>
<div id="myChoiceMessage"></div>
<br>
<br>
<div id="myGender"></div>
 <input type="radio" name="gender" value="male" checked> 1
 <br>
 <br>
<input type="radio" name="gender" value="female"> 2
<br>
<br>
<input type="radio" name="gender" value="other"> 3
<br>
<br>
<p>How would you like it to be deliverd? Please choose only one.</p>
<input type="checkbox" name="vehicle" value="Car" checked>I have a Car<br>
<br>
<br>
<input type="checkbox" name="vehicle" value="Mail">It can be Mailed
<br>
<br>
<button id="orderButton" type="button">Click Me!</button>
<br>
<br>
<div id="log">LOG</div>

</div>
